header{
    width: 100%;
    max-width: 3000px;
}
body
{
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
}


nav
{   
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container
{
    width: 100%;
    max-width: 3000px;
    height: 550px;
    padding-bottom: 1000px;
    background-image:url(https://wallpaperaccess.com/full/435709.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.formulaire
{
    width: 50%;
    height: 450px;
    background-color: rgb(44, 44, 216);
}

a{
    text-decoration: none;
    color: white;
}